<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/characterSelectionEasterEgg.css">

<%- include("templates/headerEnd") %>

<h1 id="Title">Easter Egg Class</h1>

<br>
<div class="characterCard" id="BCIT_Card" style="max-width: 40rem;">
    <h2 class="characterClass" id="BCIT">BCIT Nerd</h2>
    <div id="Easter_Egg_Container">
        <div>
            <img class="imgChar" id="imgBCIT" src="/images/imgBCIT.png" alt="imgBCIT">
        </div>
        <div class="statsContainer">
            <ul class="stats" id="stats">
                <lh>Stats</lh>
                <li>Questionable Intelligence</li>
                <li>High Student Debt</li>
            </ul>
            <ul class="Characteristics" id="characteristics">
                <lh>Characteristics</lh>
                <li>double backpack</li>
                <li>Sharpened pencil</li>
                <li>Graphing calculator</li>
            </ul>
        </div>
    </div>
        <div class="buttonContainer">
            <div class="confirmButton">
                <button class="charButton" id="selectButton">Select</button>
            </div>
            <br>
        </div>
    <br>
</div>

<br><br><br><br><br>

<script src="/scripts/characterSelection.js"></script>

<%- include("templates/footer") %>