<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/characterSelection.css">

<%- include("templates/headerEndEasterEgg") %>

<h1 id="Title">Select a Class</h1>

<br>
<div class="characterCard" id="DruidCard">
    <h2 class="characterClass" id="Druid">Druid</h2>
    <div>
        <img class="imgChar" id="imgDruid" src="/images/Wood Elf Druid.png" alt="Wood Elf Druid">
    </div>
    <div>
        <div class="statsContainer">
            <ul class="stats">
                <lh>Stats</lh>
                <li>High Mysticism</li>
                <li>High Charisma</li>
            </ul>
            <ul class="Characteristics">
                <lh>Characteristics</lh>
                <li>double melee</li>
                <li>Archery</li>
                <li>Medium Armour</li>
            </ul>
        </div>
        <div class="buttonContainer">
            <button class="charButton" id="DruidButton">Select</button>
        </div>
    </div>
    <br>
</div>
<br>
<div class="characterCard" id="wizardCard">
    <h2 class="characterClass" id="Wizard">Wizard</h2>
    <div>
        <img class="imgChar" id="imgWizard" src="/images/wizard.png" alt="Wood Elf Druid">
    </div>
    <div>
        <div class="statsContainer">
            <ul class="stats">
                <lh>Stats</lh>
                <li>High Wisdom</li>
                <li>High Intelligence</li>
            </ul>
            <ul class="Characteristics">
                <lh>Characteristics</lh>
                <li>Magic User</li>
                <li>Healing Spells</li>
                <li>Weak Armour</li>
            </ul>
        </div>
        <div class="buttonContainer">
            <button class="charButton" id="WizardButton">Select</button>
        </div>
    </div>
    <br>
</div>

<br><br><br><br><br>

<script src="/scripts/characterSelection.js"></script>

<%- include("templates/footer") %>