<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/characterSelectionEasterEgg.css">

<%- include("templates/headerEnd") %>

<h1 id="Title">Easter Egg Class</h1>

<br>
<div class="characterCard" id="BCIT_Card">
    <h2 class="characterClass" id="BCIT">BCIT Nerd</h2>
    <div>
        <img class="imgChar" id="imgBCIT" src="/images/imgBCIT.png" alt="imgBCIT">
    </div>
    <div>
        <div class="statsContainer">
            <ul class="stats">
                <lh>Stats</lh>
                <li>Questionable Intelligence</li>
                <li>High Student Debt</li>
            </ul>
            <ul class="Characteristics">
                <lh>Characteristics</lh>
                <li>double backpack</li>
                <li>Sharpened pencil</li>
                <li>Graphing calculator</li>
            </ul>
        </div>
        <div class="buttonContainer">
            <div>
                <a href="/characterSelection" id="goBack" class="buttonLink">
                    <button class="backButton" id="backButton">Go Back</button>
                </a>
            </div>
            <div class="confirmButton">
                <button class="charButton">Select</button>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>

<br><br><br><br><br>

<script src="/scripts/characterSelection.js"></script>

<%- include("templates/footer") %>