<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/landing.css">

<%- include("templates/headerEnd") %>

<div class="content">
    <div class="user-welcome text-white">
        <h1>Welcome <%= user %></h1>
    </div>
    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="menu-button">Return to Game</h2>
                <br><br>
                <h2 class="menu-button">Quick Start</h2>
                <br><br>
                <div>
                    <h2 class="menu-button"><a href="/characterSelection">New Game</a></h2>
                </div>
                <br><br>
                <h2 class="menu-button"><a href="/combat">Combat Trial</a></h2>
                <br><br>
                <h2 class="menu-button">Quit</h2>
                <br><br>
                <div>
                    <h2 class="menu-button"><a href="/userInfo">User Info</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("templates/footer") %>