<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/landing.css">

<%- include("templates/headerEnd") %>

<div class="content">
    <div class="user-welcome text-white">
        <h1>Welcome, <%= user %></h1>
    </div>
    <br>

    <div class="container" id="button_Container">
                <h5 class="menu-button" id="b1">Return to Game</h5>
                <h5 class="menu-button" id="b2">Quick Start</h5>
                <h5 class="menu-button" id="b3"><a href="/characterSelection">New Game</a></h5>
                <h5 class="menu-button" id="b4"><a href="/combat">Combat Trial</a></h5>
                <h5 class="menu-button" id="b5">Quit</h5>
                <h5 class="menu-button" id="b6"><a href="/userInfo">User Info</a></h5>
    </div>
    
</div>

<%- include("templates/footer") %>