<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/loginSubmit.css">

<%- include("templates/headerEnd") %>

<h3 class="text-white"><%= message %></h3><a href="/userLoginScreen" class="text-white" style="text-decoration: underline; font-size: larger;">Go back to Login</a>

<%- include("templates/footer") %>