<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/landing.css">

<%- include("templates/headerEnd") %>


<h1 class="text-white" style="display: flex; justify-content: center; padding-top: 100px;">404 Page Not Found</h1>
<a href="/userLoginScreen" class="text-white" style="display: flex; justify-content: center; text-decoration: underline;">Return to myDnD</a>






<%- include("templates/footer") %>