<%- include("templates/storyHeaderStart") %>

<link rel="stylesheet" href="../styles/story-boss.css">

<%- include("templates/storyBodyStart") %>

        <!-- Story text -->
        <p class="form-class"><%- text %></p>

        <!-- Interactive button(s) for the player -->        
        <form class="form-class" action="/story" method="get">
            <button class="btn btn-secondary p-2 mb-2 loader" type="submit">Start A New Adventure?</button>
        </form>

<%- include("templates/storyFooter") %>