<%- include("templates/storyHeaderStart") %>

<link rel="stylesheet" href="../styles/story.css">

<%- include("templates/headerEnd") %>


        <!-- Story text -->
        <p class="form-class"><%- text %></p>

        <!-- Interactive button(s) for the player -->        
        <form class="form-class" action="/story/story-boss3" method="get">
            <button class="btn btn-secondary p-2 mb-2 loader" type="submit">Next</button>
        </form>

<%- include("templates/storyFooter") %>