<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/story.css">

<%- include("templates/headerEnd") %>

<div class="storygen">

    <div class="center">

        <div class = "storycreation">
        <!-- Generates the loading animation -->
        <div id="spinner" style="display: none;">
            <img src="/images/loading.gif" class="loading" alt="Loading...">
        </div>

        <!-- Story text -->
        <p class="form-class"><%- text %></p>

        <!-- Interactive button(s) for the player -->         
        <form class="form-class" action="/story/story-event" method="get">
            <button type="submit">Begin Battle</button>
        </form>
        </div>

    </div>
</div>

<script src="/scripts/story.js"></script>