<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/signupSubmit.css">

<%- include("templates/headerEnd") %>

<h3 class="text-white"><%= message %></h3><a href="/userSignupScreen" class="text-white" style="text-decoration: underline; font-size: larger;">Go back to Signup</a>

<%- include("templates/footer") %>