<%- include("templates/headerStart") %>

<!-- place style reference to background image here -->

<%- include("templates/headerEnd") %>

<h3><%= message %></h3><a href="/userLoginScreen">Go back to Sign Up</a>

<%- include("templates/footer") %>