<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/signup.css">

<%- include("templates/headerEnd") %>


<div class="login-container">
  <h1 class="fw-bold text-white">Signup</h1>
  <form class="login-form" action="/submitUser" method="post">
    <div class="fw-bold text-white">Create User:</div>
    <input name="name" type="text" placeholder="Name *">
    <br><br>
    <input name="email" type="email" placeholder="Email *">
    <br><br>
    <input name="password" type="password" placeholder="Password *">
    <br>
    <a href=""></a>
    <p class="text-white">* = Required Field</p>
    <button>Submit</button>
  </form>
</div>


<%- include("templates/footer") %>