<%- include("templates/headerStart") %>

<link rel="stylesheet" href="../styles/login.css">

<%- include("templates/headerEnd") %>

<div class="login-container">
  <h1 class="fw-bold text-white">Login</h1>
  <form class="login-form" action="/loggingin" method="post">
    <input name="email" type="text" placeholder="email *">
    <br>
    <input name="password" type="password" placeholder="password *">
    <p class="text-white">* = Required Field</p>
    <button>Submit</button>
  </form>
  <a class="fw-bold text-white" href="/passwordReset">Forgot Password</a>
  <br>
  <p class="fw-bold text-white" id="signup">Don't have an account?</p>
  <a class="fw-bold text-white" href="/userSignupScreen">Signup</a>
</div>

<script>
  const loginButton = document.querySelector('#login-button');
  const loginForm = document.querySelector('.login-form');
  if(loginButton != null) {
  loginButton.addEventListener('click', () => {
    loginForm.style.display = 'block';
  });
}
</script>

<%- include("templates/footer") %>