<!DOCTYPE html>
<html>
  <head>
    <title>Login Screen</title>
    <style>
      .login-form {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      <button id="login-button">Login</button>
      <form class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Close">
      </form>
      <p>Don't have an account?</p>
      <a href="/signup">Signup</a>
    </div>
    <script>
      const loginButton = document.querySelector('#login-button');
      const loginForm = document.querySelector('.login-form');
      loginButton.addEventListener('click', () => {
        loginForm.style.display = 'block';
      });
    </script>
  </body>
</html>
