<%- include("templates/headerStart") %>

<%- include("templates/headerEnd") %>

<div class="login-container">
  <h1>Login</h1>
  <form class="login-form" action="/loggingin" method="post">
    <label for="email">Email:</label>
    <input name="email" type="text" placeholder="email">
    <br>
    <label for="password">Password:</label>
    <input name="password" type="password" placeholder="password">
    <br>
    <button>Submit</button>
  </form>
  <p>Don't have an account?</p>
  <a href="/userSignupScreen">Signup</a>
</div>

<script src="scripts/Dice.js"></script>
<script>
  const loginButton = document.querySelector('#login-button');
  const loginForm = document.querySelector('.login-form');
  loginButton.addEventListener('click', () => {
    loginForm.style.display = 'block';
  });
</script>

<%- include("templates/footer") %>