<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COMP2800 BBY04 myD&D</title>
    <meta name="myD&D" content="AI TRPG Game">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/welcome.css">
</head>

<body>
    <div id="BannerBG" class="d-flex justify-content-center" style="width: 100%;">
        <img src="../../images/myD&D_Banner_2.png" id="DnD_Banner"
            style="max-height: 80px; max-width: 35rem; width: 100%; justify-self: left;">
    </div>

    <div id="hero" class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/images/myD&D_Icon_HiResolution.png" alt="" width="100" height="100" style="border-radius: 45px;">
        <h1 class="display-5 fw-bold">Welcome to myD&D,</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">An online Dungeons and Dragons adventure game, utilizing the power of chatGPT! Experience unique AI generated stories, and explore a world full of action and adventure! <br></p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/userLoginScreen"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 mr-1">Login</button></a>
                <a href="/userSignupScreen"><button type="button" class="btn btn-secondary btn-lg px-4 ml-1">Signup</button></a>
            </div>
        </div>
    </div>

</body>

</html>