<footer class="d-flex fixed-bottom">
    <button class="btn btn-secondary w-100 p-3" onclick="window.location.href='/party'">Party</button>
    <button class="btn btn-secondary w-100 p-3" onclick="window.location.href='/equipped'">Inventory</button>
</footer>

<script>
    function setScroll() {
        var element = document.getElementById("combat-text");

        if(typeof element !== undefined && element != null) {
            element.scrollTop += element.scrollHeight;
        }
    }
    setTimeout(setScroll(), 10);
</script>

</body>

</html>