</head>

<body>
    <img src="../../images/myD&D_Banner_2.png" style="max-height: 80px; width: 100%; justify-self: left;">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
        </header>
    </div>