<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myD&D</title>
</head>

<body>
    <div class="px-4 py-5 my-5 text-center" style="max-width: 1320px; margin-left: auto; margin-right: auto;">