</head>

<body>
    <img src="../../images/myD&D_Banner.png" style="max-height: 125px; width: 100%; justify-self: left;">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        </header>
    </div>