</head>

<!-- <link rel="stylesheet" href="../../styles/characterSelectionEasterEgg.css"> -->

<body>
    <div>
        <div style="position: relative;" id="Easter_Banner_Container">
            <img src="../../images/myD&D_Easter_Egg_Banner_Background.png" id="easter_banner" style="max-height: 60px;">
            <a href="/characterSelectionEasterEgg"><img id="easter_img" src="../../images/Golden dragon egg snippet.png"
                    alt="Easter Egg Icon" style="position:absolute; max-height: 40px; max-width: 110px; left:0; right:140px; top: 10px;" class="mr-auto ml-auto"></a>
            <img src="../../images/myD&D_Easter_Egg_Banner_Logo.png" alt="Easter Egg Logo" id="easter_img_banner"
                style="max-height: 40px; max-width: 110px; left:0; right:0; top: 10px;" class="mr-auto ml-auto">
        </div>
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-1 mb-2 border-bottom">
        </header>
    </div>