</head>

<link rel="stylesheet" href="../../styles/characterSelectionEasterEgg.css">

<body>
    <div>
        <div style="position: relative;">
            <img src="../../images/myD&D_Easter_Egg_Banner_Background.png" style="max-height: 125px; width: 100%;">
            <img src="../../images/Golden dragon egg snippet.png" alt="Easter Egg Icon" style="max-height: 85px; position: absolute; top: 25px; left: 15%;">
            <img src="../../images/myD&D_Easter_Egg_Banner_Logo.png" alt="Easter Egg Logo" style="max-height: 85px; position: absolute; top: 25px; left: 40%; font-weight: bold;">
          </div>
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        </header>
    </div>