</head>

<body>
    <div id="BannerBG" class="d-flex justify-content-center" style="width: 100%;">
    <img src="../../images/myD&D_Banner_2.png" id="DnD_Banner" style="max-height: 80px; max-width: 35rem; width: 100%; justify-self: left;">
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-2 mb-1 border-bottom">
        </header>
    </div>