<body>
    <div class="storycontainer">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../images/myD&D_Icon_HiResolution.png" alt="myD&D" width="54" height="54">
          </a>
          <a class="btn btn-outline-light" href="/LandingScreen"><span class="material-symbols-outlined">home</span></a>
        </div>
      </nav>
    