<body>
  <div class="storycontainer">
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../../images/myD&D_Icon_HiResolution.png" alt="myD&D" width="54" height="54">
        </a>
        <a class="btn btn-outline-light" href="/LandingScreen"><span class="material-symbols-outlined">home</span></a>
      </div>
    </nav>

    <div class="storygen">

      <div class="center">

        <div class="storycreation">
          <!-- Generates the loading animation -->
          <div id="spinner" style="display: none;">
            <div class="loading-container">
              <hr class="white-line">
              <h5>Writing...</h5>
              <img src="/images/loading.gif" class="loading" alt="Loading...">
              <h5>the next part of your story</h5>
              <hr class="white-line">
            </div>
          </div>