@media (max-width: 600px) {
    body {
        background-image: url(../images/passwordResetConfirmationScreen.png);
        overflow-y: auto;
    }
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
}

#Title {
    background-color: rgba(105, 105, 105, 0.658);
    width: 80%;
    margin: 0 auto;
}

#imgDruid {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

#imgWizard {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.characterCard {
    background-color: rgba(105, 105, 105, 0.658);
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
}

.statsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "stats characteristics";
}

.charButton {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    color: black;
  }
  
  .buttonLink {
    text-decoration: none;
}