/*Sizing for material icons*/
.material-symbols-outlined {
    font-size: 45px;
}

body {
    background-image: url("../images/combat_bg_lrg.jpeg");
}

h5 {
    color: white;
}

p {
    color: white;
}

.transparent {
    background-color: #2b2b2b;
}

@media only screen and (min-height: 1101px) {
    #combat-text {
        height: 70vh;
        overflow: auto;
    }
}

/* Media query for small screens */
@media only screen and (min-height: 801px) and (max-height: 1100px) {

    #combat-text {
        height: 50vh;
        overflow: auto;
    }
}

@media only screen and (max-height: 800px)
{
    body {
        background-image: url("../images/combat_bg.jpg");
    }

    #combat-text {
        height: 48vh;
        overflow: auto;
    }
}