@media (max-width: 6000px) {
    body {
        background-image: url(../images/Login\ Background\ hi-res.jpg);
        background-size: 100% auto;
        background-repeat: repeat-y;
    }
}

@media (max-width: 600px) {
    body {
        background-image: url(../images/Login\ Background\ 1.png);
        background-size: 100% auto; 
        background-repeat: repeat-y;
    }
}

.login-container {
    display: grid;
    justify-content: center;
    align-items: center;
}