@media (max-width: 6000px) {
    body {
        background-image: url(../images/New_User_Background_HiRes.jpg);
        background-size: 100% auto;
        background-repeat: repeat-y;
    }
}

@media (max-width: 600px) {
    body {
        background-image: url(../images/Create\ New\ User\ Background\ 1.png);
    }
}

 #BannerBG {
     background: rgb(7, 7, 7);
     background: linear-gradient(105deg, rgb(12, 12, 12) 0%, rgba(0, 0, 0, 1)40%, rgb(48, 48, 48) 77%);
 }

.login-container {
    display: grid;
    justify-content: center;
    align-items: center;
}