.material-symbols-outlined {
    font-size: 45px;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: #DDD;
}

p {
    color: #FFF;
}

.storycontainer {
    width: 100%;
    max-width: 600px;
    height: 100vh;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/story.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    padding: 0;
}

.container {
    background-color: #181818;
    padding: 0;
}

.storygen {
    background-color: rgba(0, 0, 0, 0.75);
    height: 70vh;
    margin-top: 5vh;
    padding-top: 5vh;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.loading {
    max-width: 300px;
    margin: auto;
    display: block;
}