body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* padding-top: 120px; */
    padding-bottom: 80px; 
  }
  
  .footer-container {
    position: relative;
    min-height: 100%;
  }
  
  .content {
    padding-top: 20px;
    padding-bottom: 160px; 
    overflow-y: auto;
    height: calc(100% - 60px); 
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 32, 32, 0.973);
    color: white;
    bottom: -25px;
  }

