body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .footer-container {
    position: relative;
    min-height: 100%;
  }
  
  .content {
    padding-bottom: 60px; 
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(61, 57, 57, 0.973);
    color: white;
    bottom: -25px;
  }